/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** fonts *********************/
@font-face {
  font-family: "KGSecondChancesSketch";
  src:
    url("fonts/KGSecondChancesSketch/kgsecondchancessketch-webfont.woff2") format("woff2"),
    url("fonts/KGSecondChancesSketch/kgsecondchancessketch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*************** colors *********************/
.color1 {
  color: #7092e7;
}

.color2 {
  color: #5fb4b1;
}

.color3 {
  color: #3491a9;
}

.color4 {
  color: #e3f8f4;
}

.color5 {
  color: #2d4342;
}

.color6 {
  color: #586f87;
}

.color7 {
  color: #7bd7d4;
}

h1 {
  font-family: "KGSecondChancesSketch", sans-serif;
  color: #3491a9;
  font-size: 2.8rem;
  margin-block: 1.5rem 1rem;
  hyphens: auto;
}

h2 {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  color: #5fb4b1;
  margin-block: 1rem 0.5rem;
  hyphens: auto;
}

h3 {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  color: #7bd7d4;
  margin-block: 1rem 0.5rem;
  hyphens: auto;
}

p {
  color: #2d4342;
  margin-block: 0.5rem 1rem;
  hyphens: auto;
}
dl {
  color: #2d4342;
  margin-block: 0.5rem 0.5rem;
}

dd {
  color: #2d4342;
  margin-block: 0.5rem 1rem;
}

/*************** images *********************/
img {
  margin-block: 1rem 1rem;
  border-radius: 40px;
}

/*************** body *********************/
body {
  background-color: #e3f8f4;
  margin-inline: 5%;
}

/*************** index (forside) *********************/
.bruger_personlig_computer {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgb(0, 204, 255), cyan 92%, rgb(23, 148, 186), white 94% 100%);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.bruger_windows {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgb(0, 204, 255), cyan 38%, rgb(23, 148, 186), white 40% 100%);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.tablet {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgb(0, 204, 255), cyan 56%, rgb(23, 148, 186), white 58% 100%);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.bruger_smartphone {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgb(0, 204, 255), cyan 91%, rgb(23, 148, 186), white 93% 100%);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.modern_computer {
  border: 1px solid lightgrey;
}

/*************** galleri *********************/
.galleri {
  background-image: linear-gradient(to bottom, white 5%, cyan, rgb(15, 32, 120));
}

.p_galleri_footer {
  color: #e3f8f4;
}
